{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <ul>
                {% for stuff in stuffs %}
                    <li>{{ stuff.desc }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
