<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

        <style>
            body { background: #fff; font: 18px/1.5 sans-serif; margin:0; }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #e0e0e0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #sidebar { position: fixed; background: #16183e; width: 68px; height: 100%; padding-top: 30px; }
            #sidebar ul { list-style-type: none; padding-left: 0; }
            #sidebar ul li { list-style-type: none; padding-left: 0; padding-bottom: 5px; }
            #sidebar ul li a:link, a:visited {
                background-color: #1e2044;
                color: white;
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }
            #sidebar ul li a:hover, a:active {
                background-color: #292b50;
            }
            #sidebar ul li a.active {
                background-color: #292b50;
            }
            #sidebar h1 {
                color: #fff;
                text-align: center;
            }
            #wrapper { width: 100%; }
            #container { padding: 20px; margin-left: 68px; }
        </style>

    </head>
    <body>
        <div id="sidebar">
            <h1>yb</h1>

            {% set currentRouteName = app.request.attributes.get('_route') %}

            <ul>
                <li>
                    <a href="{{ path('homepage') }}" class="{{ currentRouteName == 'homepage' ? 'active' }}"><img src="{{ asset('assets/ic_trending_up_white_24dp_2x.png') }}"></a>
                </li>
                <li>
                    <a href="{{ path('listpage') }}" class="{{ currentRouteName == 'listpage' ? 'active' }}"><img src="{{ asset('assets/ic_view_list_white_24dp_2x.png') }}"></a>
                </li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
